* {
    font-family: arial;
    margin: 0;
    padding: 0;
}

body {
    
}

.title {
    text-align: center;
    padding: 50px 0;
    color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
.navlink {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 25px 0;
}
.navbar .navlink a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}
.navbar .navlink a:hover {
    color: #D22515;
}
.navbar .navlink .button span {
    margin-right: 20px;
}
.navbar .navlink .button span img {
    margin-right: 20px;
}
.navbar .navlink .button button {
    background: #D22515;
    padding: 15px 25px;
    margin-top: -20px;
    border: 0;
}
.navbar .navlink .button button a {
    color: #FFF;
}

.header .img .txt {
    position: absolute;
    width: 709px;
}
.img .header-img {
    width: 100%;
    height: 720px;
    background: linear-gradient(105deg, rgba(0, 0, 0, 0.80) 0.88%, rgba(0, 0, 0, 0.00) 93.13%), url('/src/img/header.png');
    background-repeat: no-repeat;
    background-size: cover;
}   
.header .img .txt .title {
    text-align: left;
    font-size: 48px;
    padding: 100px 75px;
}
.header .img .txt button {
    background: #D22515;
    padding: 15px 25px;
    border: 0;
    margin-left: 75px;
    font-size: 18px;
}
.header .img .txt button a {
    color: #FFF;
    text-decoration: none;
}

.section1 .title {
    color: #000;
    font-size: 20px;
}
.section1 .logo-partenaire  {
    text-align: center;
}
.section1 .logo-partenaire {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 50px 0;
}

.section2 {
    background: #000;
    color: #FFF;
    padding: 25px 50px 100px 50px;
    margin-bottom: 50px;
}
.section2 .title {
    font-size: 38px;
    margin: 0;
}
.section2 .txt {
    text-align: center;
    font-size: 20px;
}
.section2 .content {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.section2 .content span {
    font-size: 24px;
}
.section2 .content .txt-content {
    padding: 10px 20px 0 0;
    line-height: 1.6;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-bottom: 100px;
}
.section3 .title {
    color: #000;
    font-size: 38px;
}
.section3 .bloc1 .img {
    width: 612px;
    height: 600px;
    background: no-repeat url('../img/services-img1.png');
    background-size: cover;
}
.section3 .bloc2 .img{
    width: 612px;
    height: 600px;
    background: no-repeat url('../img/services-img2.png');
    background-size: cover;
}

.section3 .bloc3 .img{
    width: 612px;
    height: 600px;
    background: no-repeat url('../img/services-img3.png');
    background-size: cover;
}
.section3 .content .bloc1, .section3 .content .bloc2, .section3 .content .bloc3 {
    display: flex;
    width: 1224px;
    justify-content: space-between;
    align-items: center;
}
.section3 .content .bloc1 .txt, .section3 .content .bloc2 .txt, .section3 .content .bloc3 .txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    line-height: 1.6;
    width: 30%;
    padding: 50px;
}
.section3 .content .bloc1 .txt p, .section3 .content .bloc2 .txt p, .section3 .content .bloc3 .txt p {
    font-size: 20px;
}
.section3 .content .bloc1 .txt button, .section3 .content .bloc2 .txt button, .section3 .content .bloc3 .txt button {
    background: #D22515;
    padding: 15px 25px;
    border: 0;
    font-size: 18px;
}
.section3 .content .bloc1 .txt button a, .section3 .content .bloc2 .txt button a, .section3 .content .bloc3 .txt button a {
    color: #FFF;
    text-decoration: none;
}

.section4 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.section4 .content {
    background: url('../img/Rectangle\ 4.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1224px;
    height: 648px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4 .content .content-block {
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2.5px);
}
.section4 .content form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: #FFF;
}
.section4 .content form .sub-title {
    font-size: 28px;
}
.section4 .content form p {
    text-align: center;
    font-size: 16px;
}
.section4 .content form input {
    width: 577px;
    height: 60px;
    padding: 8px 18px;
    font-size: 16px;
    outline: none;
}
.section4 .content form input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    border: 0;
}
.section4 .content form .check {
    display: flex;
    align-items: center;
}
.section4 .content form .check label {
    padding-left: 10px;
}
.section4 .content form button {
    width: calc(577px + 36px);
    height: 78px;
    background: red;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5 .content {
    width: 1224px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.section5 .title {
    font-size: 38px;    
    color: #000;
}
.section5 .content p {
    font-size: 20px;
    line-height: 1.5;
    font-family: sans-serif;
}
.section5 .content .sub-title {
    font-size: 32px;
    margin: 25px 0;
}
.section5 .content .content-left {
    padding-right: 50px;
}
.section5 .content-left .img {
    background: url('../img/img1-mission.png');
    background-size: cover;
    width: 600px;
    height: 331px;
}
.section5 .content-right .img {
    background: url('../img/img2-mission.png');
    background-size: cover;
    width: 600px;
    height: 331px;
}

.section6 {
    margin-bottom: 50px;
}
.section6 .title {
    font-size: 38px;
    color: #000;
    margin-top: 75px;
}
.section6 .content .content-left .sub-title {
    font-size: 32px;
    line-height: 1.2;
}
.section6 .content .content-left p {
    font-size: 20px;
    line-height: 1.5;
}
.section6 .content {
    width: 1224px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section6 .content .content-left {
    width: 520px;
}
.section6 .content .content-left .contact-infos {
    padding: 10px 0;
}
.section6 .content .content-left .contact-infos p {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.section6 .content .content-left .contact-infos p img {
    padding: 0 10px 0 0;
}
.section6 .content .content-left button {
    background: #D22515;
    padding: 15px 25px;
    border: 0;
    font-size: 18px;
}
.section6 .content .content-left button a {
    color: #FFF;
    text-decoration: none;
}

.section7 {
    margin-bottom: 100px;
}
.section7 .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section7 .img img:nth-child(1), .section7 .img img:nth-child(2), .section7 .img img:nth-child(3) {
    margin-right: 10px;
}
.section7 .title {
    font-size: 38px;
    color: #000;
}
.section7 button {
    margin-top: 50px;
    height: 50px;
    padding: 10px 25px;
    font-size: 18px;
    color: red;
    background:#FFF;
    border: 2.5px solid red;
}
.section7 button a {
    color: red;
    text-decoration: none;
}

.footer .img {
    background: url('../img/img-footer.png');
    width: 100%;
    height: 424px;
    background-size: cover;

}
.footer .content {
    width: 542px;
    height: 184px;
    display: flex;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2.5px);
}
.footer .content .title {
    font-size: 38px;
    line-height: 1.2;
    padding-bottom: 10px;
}
.footer .content button {
    display: flex;
    height: 60px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    background-color: #D22515;
    border: 0;
}
.footer-footer {
    background: #000;
    padding: 50px 0;
}
.footer-footer .social-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-footer .social-logo a:nth-child(1), .social-logo a:nth-child(2), .social-logo a:nth-child(3), .social-logo a:nth-child(4) {
    margin-right: 10px;
}
.footer-footer .links a {
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
}
.footer-footer .links a:nth-child(1), .links a:nth-child(2), .links a:nth-child(3), .links a:nth-child(4), .links a:nth-child(5) {
    margin-right: 25px;
}

@media screen and (min-width: 1000px) {
    .header .img .txt .title {
        text-align: left;
        font-size: 48px;
        padding: 100px 75px;
    }   
}

@media screen and (min-width: 1200px) {
    .header .img .txt .title {
        text-align: left;
        font-size: 55px;
        padding: 100px 75px;
    }   
}

@media screen and (min-width: 1300px) {
    .header .img .txt .title {
        text-align: left;
        font-size: 75px;
        padding: 100px 75px;
    }   
}


@media screen and (min-width: 851px) {
    .hamburger-icon, #menu-toggle {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        background-color:  var(--header-background);
    }
    .navbar .navlink a {
        padding: 15px 0;
    }
    .navbar .navlink .button {
        padding: 15px 0;
    }
    @media screen and (max-width: 668px) {
        .navbar .navlink .button button{
            margin-top: 25px;
        }
    }   
    .header .header-nav .header-link {
        margin: 0;
    }
    .header-link {
        display: none;
    }
    .hamburger-icon {
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked + .hamburger-icon + .links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        box-shadow: 0px 10px 9px -6px #6e6e6e;
        background-color: var(--header-background);
        padding: 12.5px;
        width: 50%;
    }    
}
